/* Placeholder CSS file incase this is needed */
/* @TODO: Do not forget to delete if this is not needed */

/* Example: Use ellipsis to truncate facetapi bootstrap dropdown text.
   Sometimes your Facet links are a little long for a true dropdown,
   To save some space you could use CSS ellipsis to truncate the text,
   When the user hovers over the dropdown they will get the full title in,
   Most browsers as well, so win win possibly.
*/
/*
  ul.facetapi-dropdown li a {
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap;
    overflow: hidden;
    max-width: 450px;
    width: 100%;
  }
*/
